@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<VCRI.Models.Dosage>
@using GridMvc.Html;
   
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
     <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
      @if(TempData["msg"]!=null)
       {
     <script type="text/javascript">
         $(function () {
             alert('@(TempData["msg"])');
         });
         </script>
      }


 </head>
<body>
    <div style="width:500px;">
        
        @Html.Grid(Model).Columns(columns =>
   {

       columns.Add(c => c.Dosage_Code).Titled("Dosage Code").Filterable(true);
       columns.Add(c => c.Dosage_Description).Titled("Description");
       columns.Add(c => c.uname).Titled("Created user");
       columns.Add(c => c.Created_Datetime).Titled("Date time of Creation").Format("{0:dd/MM/yyyy hh:mm tt}");
       columns.Add().Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "Dosage", new { dosageid = o.Dosage_Code.Trim() },new { onclick = "return confirm('Are you sure?');" }).ToHtmlString());
       columns.Add().Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "Dosage", new { dosageid = o.Dosage_Code.Trim() }, new { }).ToHtmlString());

   }).WithPaging(3).Sortable(true)
    </div>
     <button value="createdosage" name="Create New" onclick="location.href='@Url.Action("Create","Dosage")'" >Create New</button>
     <button value="home" name="home" onclick="location.href='@Url.Action("Index","Employee")'" >Back to Home</button>
</body>
</html>


       
         
