@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VCRI.Models.Stock
<script type="text/javascript">
                    $(function () {
                        $('.datepicker').datepicker({dateFormat:'dd/mm/yy'});

                    });
                </script>
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

                
        <div class="editor-label">
            @Html.LabelFor(m => m.Drug_Code, "Drug Name",new { @class = "col-md-2 control-label" })
        </div>
        <div class="editor-field">
           @Html.TextBoxFor(model => model.Drug_Code, new { @readonly=true})
            @Html.ValidationMessageFor(model => model.Drug_Code)
        </div>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
            
     <div class="editor-label">
            @Html.LabelFor(model => model.Expiry_Date)
        </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Expiry_Date, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(m => m.Expiry_Date, "", new { @class = "text-danger" })
                    </div>
               
    
    
         <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
          @Html.CheckBoxFor(m => m.IsActive)
                        @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

