@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using VCRI.Models
@model Order
   
 <section id="tradeForm">
            @using (Html.BeginForm("CreateOrder","Order"))
            {
                @Html.AntiForgeryToken()
                   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                 <div class="row">
    
    <div class="col-md-8">
 
                <div class="form-group">
                    @Html.LabelFor(m => m.Drug_Code, "Drug",new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.DropDownList("drug",new SelectList((System.Collections.IEnumerable) ViewData["drug"],"Drug_Code","Drug_Name"),"--Select Value--")
                        @Html.ValidationMessageFor(m => m.Drug_Code, "", new { @class = "text-danger" })
                    </div>
                </div>
          </div>
 </div>
            
        <div class="row">
    
    <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(m => m.Order_Count,"Count", new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Order_Count, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Order_Count, "", new { @class = "text-danger" })
                    </div>
                </div>
                 </div>
 </div>    
                <div class="form-group">
                    <div  class="col-md-offset-2 col-md-10">
                        <input id="create" type="submit" value="Create Order" class="btn btn-default" />
                    </div>
                </div>
                
        
            }
              </section>
<div>
     @Html.ActionLink("Back to List", "Index")
</div>
    
