@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VCRI.Models.Trade
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Trade</legend>

        <div class="form-group">
                   @Html.LabelFor(model => model.trade_Code, new { @class = "col-md-2 control-label" })
            <div  class="col-md-10">
                @Html.TextBoxFor(model => model.trade_Code,  new { @readonly = true, @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trade_Name, new { @class = "col-md-2 control-label" })
            <div  class="col-md-10">
                @Html.EditorFor(model => model.trade_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.trade_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.created_By, new { @class = "col-md-2 control-label" })
            <div  class="col-md-10">
                @Html.TextBoxFor(model => model.created_By, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.created_By)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.date_Created,  new { @class = "col-md-2 control-label" })
            <div  class="col-md-10">
                @Html.TextBoxFor(model => model.date_Created, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.date_Created)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>     
            <p>
                <input type="submit" value="Save" />
            </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

